@layout('layout/master')

@section('body')
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ups.keterangan}}</h1>
    <p class="lead">Kendala : {{ups.kendala}}</p>
    <p class="lead">Serial Number : <b>{{ups.serialnumber}}</b></p>
    <p class="lead">Bagian Unit : {{ups.bagianunit}}</p>
    <p class="lead">Harga : {{ups.harga}}</p>
    <a href="{{route('ups.index')}}" class="btn btn-sm btn-primary">Kembali</a>
  </div>
</div>
@endsection
